{{ template "main" . }} {{ define "body" }}
<!-- Modal -->
<script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function() {
        myInput.focus()
    })
</script>

{{ if .ItsYou}}
<form enctype="multipart/form-data" method="POST">
    <div class="media-body mb-5 text-black">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Profile </h5>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-form-label" for="inputDefault">Username:</label>
                            <input type="text" class="form-control" name="Username" placeholder="Enter Username" id="inputDefault">
                        </div>
                        <form>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea class="form-control" name="Description" id="message-text"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label for="validationCustom04" class="form-label">Pays :</label>
                                <select name="country" class="form-select" id="validationCustom04">
                                <option selected disabled value="">Choose...</option>
                                {{ range $Pays:= .All_Country}}
                                    <option value="{{ $Pays }}">{{ $Pays }}</option>
                                {{ end }}
                                </select>
                                <div class="invalid-feedback">
                                    Veuillez selectionner un pays.
                                </div>
                            </div>
                            <div class="drop-zone zone-p mt-5">
                                <span class="drop-zone__prompt">Drop files here or click to upload</span>
                                <!-- <div class="drop-zone__thumb" data-label="myfile.txt"></div> -->
                                <input type="file" name="myFile" class="drop-zone__input">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

<form method="POST">
<div class="container-fluid mt-5">
    <div class="row">
        <!--py-10 px-7-->
        <div class="col-xl-3 d-flex justify-content-center align-items-center text-center">
            <center>
                <div class="card" style="width: 18rem; float: left;">
                    <img src="{{ .Self_User_Info.Image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ .Self_User_Info.UserName }}</h5>
                        {{ if .Self_User_Info.Modo }}
                            <i class="fas fa-shield-alt "></i>
                        {{ end }}
                        {{ if .Self_User_Info.Admin }}
                            <i class="fas fa-tools"></i>
                        {{ end }}
                        <p class="card-text">{{ .Self_User_Info.Description }}</p>
                        <a href="#" class="btn btn-outline-secondary btn-sm btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit Profile</a>
                    </div>
                </div>
            </center>
        </div>
        <div class="col-xl-5 mx-auto align-self-center">
            <div class="row row-cols-1 g-4">
                <div class="bg-light" style="overflow-y:scroll; height:400px;">
                    {{ range $post := .Self_User_Info.AllPosts }}
                    <div class="col">
                        <a href="/post?id={{ $post.ID }}" class="custom-card">
                            <div class="card positon-relative card-c">
                                <div class="card-body" style="padding-bottom:1%;padding-right: 1%;">
                                    <h5 class="card-title">{{$post.Title}}</h5>
                                    <p class="card-text text-truncate">{{ $post.Body }}</p>
                                    <div style="font-size:10px;float:right;"><i class="far fa-comment-dots"></i> {{ $post.Comment_Nb}} - ❤️ {{ $post.Likes}} - <img src="{{ $post.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:15px;width:15px; margin-left: 5px;"> </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <h4>Dernier Post</h4>
            <a href="/post?id={{ .Last_Post.ID }}" class="custom-card">
                <div class="card positon-relative card-c">
                    <div class="card-body" style="padding-bottom:1%;padding-right: 1%;">
                        <h5 class="card-title">{{ .Last_Post.Title}}</h5>
                        <p class="card-text text-truncate">{{ .Last_Post.Body }}</p>
                        <div style="font-size:10px;float:right;"><i class="far fa-comment-dots"></i> {{ .Last_Post.Comment_Nb}} - ❤️ {{ .Last_Post.Likes}} - <img src="{{ .Last_Post.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:15px;width:15px; margin-left: 5px;"> </div>
                    </div>
                </div>
            </a>
            <br>
            <h4>Dernier Like</h4>
            <a href="/post?id={{ .Last_Like.ID }}" class="custom-card">
                <div class="card positon-relative card-c">
                    <div class="card-body" style="padding-bottom:1%;padding-right: 1%;">
                        <h5 class="card-title">{{ .Last_Like.Title}}</h5>
                        <p class="card-text text-truncate">{{ .Last_Like.Body }}</p>
                        <div style="font-size:10px;float:right;"><i class="far fa-comment-dots"></i> {{ .Last_Like.Comment_Nb}} - ❤️ {{ .Last_Like.Likes}} - <img src="{{ .Last_Like.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:15px;width:15px; margin-left: 5px;"> </div>
                    </div>
                </div>
            </a>
            <br>
            <h4>Dernier Commentaire</h4>
            <a href="/post?id={{ .Last_Comment.ID }}" class="custom-card">
                <div class="card positon-relative card-c">
                    <div class="card-body" style="padding-bottom:1%;padding-right: 1%;">
                        <h5 class="card-title">{{ .Last_Comment.Title}}</h5>
                        <p class="card-text text-truncate">{{ .Last_Comment.Body }}</p>
                        <div style="font-size:10px;float:right;"><i class="far fa-comment-dots"></i> {{ .Last_Comment.Comment_Nb}} - ❤️ {{ .Last_Comment.Likes}} - <img src="{{ .Last_Comment.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:15px;width:15px; margin-left: 5px;">                            </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{{ else }}
<div class="container-fluid mt-5">
    <div class="row">
        <!--py-10 px-7-->
        <div class="col-xl-3 d-flex justify-content-center align-items-center text-center">
            <center>
                <div class="card" style="width: 18rem; float: left;">
                    <img src="{{ .User_Info.Image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ .User_Info.UserName }}</h5>
                        {{ if .User_Info.Modo }}
                            <i class="fas fa-shield-alt "></i>
                        {{ end }}
                        {{ if .User_Info.Admin }}
                            <i class="fas fa-tools"></i>
                        {{ end }}
                        <p class="card-text">{{ .User_Info.Description }}</p>
                        {{ if .Self_User_Info.Admin }}
                            {{ if not .User_Info.Admin }}
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer le profil"><i class="far fa-trash-alt"></i></button>
                                {{ if .User_Info.Modo }}
                                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#depromModal" title="Enlever les droits de modération"><i class="fas fa-user-times"></i></button>
                                {{ else }}
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#promModal" title="Promouvoir en tant que modérateur"><i class="fas fa-user-shield"></i></button>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                        {{ if .Self_User_Info.Modo }}
                            {{ if not .User_Info.Admin }}
                                {{ if not .User_Info.Modo}}
                                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" title="Supprimer le profil"><i class="far fa-trash-alt"></i></button>
                                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#promModal" title="Promouvoir en tant que modérateur"><i class="fas fa-user-shield"></i></button>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div>
            </center>
                        
        </div>
        <div class="col-xl-5 mx-auto align-self-center">
            <div class="row row-cols-1 g-4">
                <div class="bg-light" style="overflow-y:scroll; height:400px;">
                    {{ range $post := .User_Info.AllPosts }}
                    <div class="col">
                        <a href="/post?id={{ $post.ID }}" class="custom-card">
                            <div class="card positon-relative card-c">
                                <div class="card-body" style="padding-bottom:1%;padding-right: 1%;">
                                    <h5 class="card-title">{{$post.Title}}</h5>
                                    <p class="card-text text-truncate">{{ $post.Body }}</p>
                                    <div style="font-size:10px;float:right;"><i class="far fa-comment-dots"></i> {{ $post.Comment_Nb}} - ❤️ {{ $post.Likes}} - <img src="{{ $post.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:15px;width:15px; margin-left: 5px;"> </div>
                                </div>
                            </div>
                        </a>

                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <h4>Dernier Post</h4>
            <a href="/post?id={{ .Last_Post.ID }}" class="custom-card">
                <div class="card positon-relative card-c">
                    <div class="card-body" style="padding-bottom:1%;padding-right: 1%;">
                        <h5 class="card-title">{{ .Last_Post.Title}}</h5>
                        <p class="card-text text-truncate">{{ .Last_Post.Body }}</p>
                        <div style="font-size:10px;float:right;"><i class="far fa-comment-dots"></i> {{ .Last_Post.Comment_Nb}} - ❤️ {{ .Last_Post.Likes}} - <img src="{{ .Last_Post.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:15px;width:15px; margin-left: 5px;"> </div>
                    </div>
                </div>
            </a>
            <br>
            <h4>Dernier Like</h4>
            <a href="/post?id={{ .Last_Like.ID }}" class="custom-card">
                <div class="card positon-relative card-c">
                    <div class="card-body" style="padding-bottom:1%;padding-right: 1%;">
                        <h5 class="card-title">{{ .Last_Like.Title}}</h5>
                        <p class="card-text text-truncate">{{ .Last_Like.Body }}</p>
                        <div style="font-size:10px;float:right;"><i class="far fa-comment-dots"></i> {{ .Last_Like.Comment_Nb}} - ❤️ {{ .Last_Like.Likes}} - <img src="{{ .Last_Like.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:15px;width:15px; margin-left: 5px;"> </div>
                    </div>
                </div>
            </a>
            <br>
            <h4>Dernier Commentaire</h4>
            <a href="/post?id={{ .Last_Comment.ID }}" class="custom-card">
                <div class="card positon-relative card-c">
                    <div class="card-body" style="padding-bottom:1%;padding-right: 1%;">
                        <h5 class="card-title">{{ .Last_Comment.Title}}</h5>
                        <p class="card-text text-truncate">{{ .Last_Comment.Body }}</p>
                        <div style="font-size:10px;float:right;"><i class="far fa-comment-dots"></i> {{ .Last_Comment.Comment_Nb}} - ❤️ {{ .Last_Comment.Likes}} - <img src="{{ .Last_Comment.Post_User_Info.Image }}" style="float:right;border-radius: 100%;height:15px;width:15px; margin-left: 5px;">                            </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
</form>

    
<!-- Modal De Confirmation Suppression profil -->
<form method="POST">
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de suppression.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir supprimer l'utilisateur "{{ .User_Info.UserName }}" ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" name="delete" onclick="submit()" value="suppression"  class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Modal De Confirmation Promouvoir profil -->
<form method="POST">
<div class="modal fade" id="promModal" tabindex="-1" aria-labelledby="promModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de promotion.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir promouvoir l'utilisateur "{{ .User_Info.UserName }}" ? <br><i>Ce rôle lui donnera des pouvoirs importants sur le site, si il y a un accident vous serez en partie responsable. Réflechissez-y !</i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" name="take" onclick="submit()" value="promouvoir"  class="btn btn-success">Promouvoir</button>
            </div>
        </div>
    </div>
</div>
</form>

<!-- Modal De Confirmation DéPromotion de Profil -->
<form method="POST">
<div class="modal fade" id="depromModal" tabindex="-1" aria-labelledby="depromModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation de promotion.</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Êtes-vous sûr de vouloir enlever les droits de l'utilisateur "{{ .User_Info.UserName }}" ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="submit" name="takeOut" onclick="submit()" value="retrograde"  class="btn btn-danger">Retirer les droits</button>
            </div>
        </div>
    </div>
</div>
</form>
{{ end }}

<script src="../assets/main.js"></script>


{{ end }}